{{ define "top" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="like and subscribe">
  <title>padulkem.id</title>
</head>

<body>
  <nav role="navigation">
    <div>
      <h1>building padulkem.id</h1>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="about">about</a></li>
        <li><a href="archive">archive</a></li>
      </ul>
    </div>
  </nav>
<main>
{{ end }}
